---
import {Markdown} from 'astro/components';
import Article from '../components/articleComponent.astro'
import {SITE} from '../config.ts'
const title = 'First component'
const description = "Tailwind CSS component from Meraki UI"
---
<Article content={{title, description}}>
	<h2>{SITE.description}</h2>
	<p>First paragraph.</p>
</Article>