<div class="max-w-xs p-6 rounded-md shadow-md bg-coolGray-50 text-coolGray-900">
	<img src="https://source.unsplash.com/random/300x300/?1" alt="" class="object-cover object-center w-full rounded-md h-72 bg-coolGray-500">
	<div class="mt-6 mb-2">
		<span class="block text-xs font-medium tracking-widest uppercase text-violet-600">Quisque</span>
		<h2 class="text-xl font-semibold tracking-wide">Nam maximus purus</h2>
	</div>
	<p class="text-coolGray-800">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.</p>
</div>